@using Lageret.Shared.Services
@inject SessionService sessionService
@inject NavigationManager navigationManager

@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LoginTest</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @if (!sessionService.IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            @if (sessionService.Role == "Lagerchef")
            {

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/products">
                        <span class="bi bi-boxes-nav-menu" aria-hidden="true"></span> Produkter
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/counter">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
            }

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/stock-overview">
                    <span class="bi bi-box-seam" aria-hidden="true"></span> Lageroversigt
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <a class="nav-link" href="#" @onclick="Logout">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                </a>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        sessionService.OnSessionChanged += StateHasChanged;
    }

    public void Dispose()
    {
        sessionService.OnSessionChanged -= StateHasChanged;
    }

    private void Logout()
    {
        sessionService.Logout();
        navigationManager.NavigateTo("/login");
    }
}
